/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --off-white: #fafafa;
    --off-white-faded: #fafafaaa;
    --off-black: #303030;
    --off-black-faded: rgba(.07,.07,.07,.5);
    --black: #202020;
    --strong-blue: rgb(5,111,191);
    --strong-pink: #ff4081;
    --green: green;
    --red: red;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    overflow: none;
    height: 100vh;

    background-color: var(--black);
    color: var(--off-black);
}

/* This stuff gets overridden unless you put it in this file, unfortunately */
.mat-form-field-underline {
    background-color: var(--off-white) !important;
}
div[class^="mat-form-field-"], div[class^="mat-select-"], .mat-form-field-label, .mat-sort-header-arrow {
    color: var(--off-white) !important;
}
.mat-drawer-container {
    background-color: transparent !important;
}
.mat-sidenav {
    background-color: var(--off-white) !important;
}
.mat-simple-snackbar-container {
    background-color: var(--off-white);
}
.mat-simple-snackbar span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--strong-pink);
    margin: auto;
    text-align: center;
}